@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Utrpení začíná</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Polib mi aaaaaaaaaaaaaaaaaaaaaaaaa</a>.</p>
</div>
